<!-- # Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="#"><b>#</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @a.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>



<!-- A Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="A"><b>A</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @a.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- B Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="B"><b>B</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @b.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- C Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="C"><b>C</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @c.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- D Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="D"><b>D</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @d.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- E Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="E"><b>E</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @e.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- F Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="F"><b>F</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @f.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- G Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="G"><b>G</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @g.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- H Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="H"><b>H</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @h.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- I Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="I"><b>I</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @i.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- J Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="J"><b>J</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @j.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- K Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="K"><b>K</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @k.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- L Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="L"><b>L</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @l.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- M Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="M"><b>M</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @m.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- N Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="N"><b>N</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @n.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- O Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="O"><b>O</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @o.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- P Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="P"><b>P</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @p.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- Q Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="Q"><b>Q</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @q.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- R Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="R"><b>R</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @r.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- S Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="S"><b>S</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @s.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- T Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="T"><b>T</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @t.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- U Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="U"><b>U</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @u.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- V Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="V"><b>V</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @v.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- W Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="W"><b>W</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @w.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- X Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="X"><b>X</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @x.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- Y Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="Y"><b>Y</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @y.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<!-- Z Table -->
<div class="panel panel-default">
  <div class="panel-heading" id="Z"><b>Z</b></div>
  <table class="table table-bordered">
  <tbody>
    <% @z.each do |series| %>
      <tr>
        <td>
          <%= link_to "#{series.name}", series %>
            <span class="upload-date">
              <%= link_to 'Edit', edit_series_path(series) %> |  
              <%= link_to 'Destroy', series, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>