<div class="gotoletter">
<%= link_to "#", "##", class: "btn btn-xs btn-default" %>
<%= link_to "A", "#A", class: "btn btn-xs btn-default" %>
<%= link_to "B", "#B", class: "btn btn-xs btn-default" %>
<%= link_to "C", "#C", class: "btn btn-xs btn-default" %>
<%= link_to "D", "#D", class: "btn btn-xs btn-default" %>
<%= link_to "E", "#E", class: "btn btn-xs btn-default" %>
<%= link_to "F", "#F", class: "btn btn-xs btn-default" %>
<%= link_to "G", "#G", class: "btn btn-xs btn-default" %>
<%= link_to "H", "#H", class: "btn btn-xs btn-default" %>
<%= link_to "I", "#I", class: "btn btn-xs btn-default" %>
<%= link_to "J", "#J", class: "btn btn-xs btn-default" %>
<%= link_to "K", "#K", class: "btn btn-xs btn-default" %>
<%= link_to "L", "#L", class: "btn btn-xs btn-default" %>
<%= link_to "M", "#M", class: "btn btn-xs btn-default" %>
<%= link_to "N", "#N", class: "btn btn-xs btn-default" %>
<%= link_to "O", "#O", class: "btn btn-xs btn-default" %>
<%= link_to "P", "#P", class: "btn btn-xs btn-default" %>
<%= link_to "Q", "#Q", class: "btn btn-xs btn-default" %>
<%= link_to "R", "#R", class: "btn btn-xs btn-default" %>
<%= link_to "S", "#S", class: "btn btn-xs btn-default" %>
<%= link_to "T", "#T", class: "btn btn-xs btn-default" %>
<%= link_to "U", "#U", class: "btn btn-xs btn-default" %>
<%= link_to "V", "#V", class: "btn btn-xs btn-default" %>
<%= link_to "W", "#W", class: "btn btn-xs btn-default" %>
<%= link_to "X", "#X", class: "btn btn-xs btn-default" %>
<%= link_to "Y", "#Y", class: "btn btn-xs btn-default" %>
<%= link_to "Z", "#Z", class: "btn btn-xs btn-default" %>
</div>