<div class="container bread-container">
<%= render 'layouts/flash' %>
  <div id="breadcrum">
    <%= render_breadcrumbs %>
  </div>
</div>

<div class="container">
<div class="row content-content">
  <div class="col-md-7 border-right">
    <%= render 'series/tabs' %>
  </div>
  <div class="col-md-3 border-right">
    <%= render 'layouts/search' %>
    <%= render 'layouts/facebook' %>
  </div>
  <div class="col-md-2">

  </div>
</div>
</div>