<%= simple_form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :episode_id, value: @episode.id, class: "form-control" %>

  <div class="form-group">
    <%= f.input :problem, label: 'Select Problem', collection: Report::PROBLEM_SELECT, selected: ['Video Broken'], input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.label :remarks %>
    <%= f.text_area :other, :rows => 5, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  
  <div class="form-group">
    <p>Answer the question below to prove that you're human</p>
    <%= f.label :humanizer_answer, @report.humanizer_question %>
    <%= f.text_field :humanizer_answer %>
    <%= f.hidden_field :humanizer_question_id %>
  </div>

  <div class="form-group">
    <%= f.submit "Send Report", class: "btn btn-primary"  %>
  </div>
<% end %>
